<script setup lang="ts">
import './login.css'
import { reactive } from 'vue'
import { LockOutlined, UserOutlined } from '@ant-design/icons-vue'
import { notification } from 'ant-design-vue'
import { useCookies } from '@vueuse/integrations/useCookies'
import { useRouter } from 'vue-router'
import Slider from '../../components/slider/Slider.vue'
import { fetchGetAgencies, fetchLogin } from '~/services/login'

const router = useRouter()
interface FormState {
  username: string
  password: string
}
const formState = reactive<FormState>({
  username: '',
  password: '',
})
const CommunityID = ref(0)
const UserCode = ref('')
const pwdState = ref(false)
const agencyList = ref()
const agencyLeaf = ref()

// 处理社区号
const handleCommunityID = () => {
  const usercodeCommunityID = formState?.username.split('@')
  if (usercodeCommunityID && usercodeCommunityID.length > 1) {
    UserCode.value = usercodeCommunityID[0]
    CommunityID.value = Number(usercodeCommunityID[1])
  }
}

// 机构切换
const changeAgencyLeaf = (value: number | string | any) => {
  agencyLeaf.value = value
}
// 用户登录
const login = async () => {
  const params = {
    CommunityID: CommunityID.value,
    UserCode: UserCode.value,
    AgencyLeaf: agencyLeaf.value,
    RoleLeaf: 2,
    PassWord: formState.password,
    CheckCode: '',
    ClientID: 'PCWeb',
    StationID: '',
  }
  const res = await fetchLogin(params)
  if (res.ErrCode === 0) {
    useCookies(['access_token']).set('access_token', res.Data?.access_token)
    useCookies(['communityID']).set('communityID', CommunityID.value)
    useCookies(['userCode']).set('userCode', UserCode.value)
    router.push({
      path: 'selectsystem',
    })
  }
  else {
    notification.info({
      message: '提示',
      description: res.ErrText,
    })
  }
}
// 提交
const onFinish = (values: any) => {
  if (pwdState.value) {
    login()
  }
  else {
    notification.info({
      message: '提示',
      description:
          '请先完成验证',
    })
  }
}
const onFinishFailed = (errorInfo: any) => {
  // console.log('Failed:', errorInfo)
}
// 获取用户机构清单
const getAgencies = async () => {
  const res: any = await fetchGetAgencies(CommunityID.value, UserCode.value)
  if (res.ErrCode === 0) {
    agencyList.value = res.Data
    agencyLeaf.value = res.Data[0].Leaf
  }
  else {
    notification.info({
      message: '提示',
      description: res.ErrText,
    })
  }
}
// 判断验证是否成功
const sliderState = (e: boolean) => {
  pwdState.value = e
  if (pwdState.value) {
    handleCommunityID()
    getAgencies()
  }
}
</script>

<template>
  <div id="login" class="loginContainer">
    <div class="loginMainWrapper">
      <div class="loginWrapper">
        <div class="loginBoxWrapper">
          <a-card title="信息资源应用平台单点登录门户">
            <a-form
              :model="formState"
              name="basic"
              autocomplete="off"
              @finish="onFinish"
              @finishFailed="onFinishFailed"
            >
              <a-form-item
                label="用户"
                name="username"
                :rules="[{ required: true, message: '请输入用户名!' }]"
              >
                <a-input v-model:value="formState.username">
                  <template #prefix>
                    <UserOutlined class="site-form-item-icon" />
                  </template>
                </a-input>
              </a-form-item>

              <a-form-item
                label="密码"
                name="password"
                :rules="[{ required: true, message: '请输入密码!' }]"
              >
                <a-input-password v-model:value="formState.password">
                  <template #prefix>
                    <LockOutlined class="site-form-item-icon" />
                  </template>
                </a-input-password>
              </a-form-item>

              <a-form-item label="验证" name="slider">
                <Slider v-model:loginInfo="formState" @update:value="sliderState" />
              </a-form-item>

              <a-form-item
                label="部门"
                name="AgencyLeaf"
              >
                <a-select v-model:value="agencyLeaf" placeholder="请选择部门" @change="changeAgencyLeaf">
                  <a-select-option v-for="(item, index) in agencyList" :key="index" :value="item.Leaf">
                    {{ item.Name }}
                  </a-select-option>
                </a-select>
              </a-form-item>
              <a-form-item>
                <a-button type="primary" html-type="submit" block>
                  登录
                </a-button>
              </a-form-item>
              <a class="login-form-forgot" href="">忘记密码</a>
            </a-form>
          </a-card>
        </div>
      </div>
      <div class="loginFooter">
        © 2019 Jiangsu Softland Science & Technology All Rights Reserved.
        <br>江苏芍园科技有限责任公司 版权所有
      </div>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: login
</route>
