.loginContainer{
    width: 100%;
    background-image: url("/iRAP-login_bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    display: flex;
}
.loginMainWrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.loginWrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    height: 60%;
    margin-right: 8%;
}
.loginFooter{
    width: 100%;
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    text-align: center;
    margin-top: 80px;
}
.ant-card-head-title{
    font-weight: bold;
}
.login-form-forgot{
    float: right;
}
@media screen and (min-width: 1200px){
    .loginTipsWrapper{
        padding: 20px 30px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        min-height: 100%;
    }
    .loginBoxWrapper{
        padding: 20px;
        width: 400px;
        height: 100%;
        border-radius: 5px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1200px){
    .loginTipsWrapper{
        padding: 20px 30px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    .loginBoxWrapper{
        padding: 20px;
        width: 400px;
        height: 100%;
        border-radius: 5px;
    }
}
@media screen and (max-width: 768px){
    .loginTipsWrapper{
        display: none;
    }
    .loginBoxWrapper{
        padding: 20px;
        width: 100%;
        border-radius: 5px;
    }
}


