<script setup lang="ts">
import type { Rule } from 'ant-design-vue/es/form'
import { reactive, ref } from 'vue'
import type { FormInstance } from 'ant-design-vue'
import { useCookies } from '@vueuse/integrations/useCookies'
import { fetchChangePWD } from '~/services/pwd'

interface FormState {
  oldPass: string
  pass: string
  checkPass: string
}
const formRef = ref<FormInstance>()
const formState = reactive<FormState>({
  oldPass: '',
  pass: '',
  checkPass: '',
})
const oldPass = async (_rule: Rule, value: string) => {
  if (value === '')
    return Promise.reject('请输入旧密码！')
  else
    return Promise.resolve()
}
const validatePass = async (_rule: Rule, value: string) => {
  if (value === '') {
    return Promise.reject('请输入密码')
  }
  else {
    if (formState.checkPass !== '')
      formRef.value.validateFields('checkPass')

    return Promise.resolve()
  }
}
const validatePass2 = async (_rule: Rule, value: string) => {
  if (value === '')
    return Promise.reject('请再次输入密码')

  else if (value !== formState.pass)
    return Promise.reject('两个输入不匹配！')

  else
    return Promise.resolve()
}

const rules: Record<string, Rule[]> = {
  oldPass: [{ validator: oldPass, trigger: 'change' }],
  pass: [{ required: true, validator: validatePass, trigger: 'change' }],
  checkPass: [{ validator: validatePass2, trigger: 'change' }],
}
const layout = {
  labelCol: { span: 4 },
  wrapperCol: { span: 14 },
}
const changePWD = async (params: object) => {
  const res = await fetchChangePWD(params)
  if (res.ErrCode === 0)
    console.log(res.ErrText)
}
const handleFinish = (values: FormState) => {
  console.log(values, formState)
  const userCode = useCookies(['userCode']).get('userCode')
  const params = {
    UserCode: userCode,
    OldPWD: values.oldPass,
    NewPWD: values.checkPass,
  }
  changePWD(params)
}
const handleFinishFailed = (errors) => {
  console.log(errors)
}
const resetForm = () => {
  formRef.value.resetFields()
}
const handleValidate = (...args) => {
  console.log(args)
}
</script>

<template>
  <a-form
    ref="formRef"
    name="custom-validation"
    :model="formState"
    :rules="rules"
    v-bind="layout"
    @finish="handleFinish"
    @validate="handleValidate"
    @finishFailed="handleFinishFailed"
  >
    <a-form-item has-feedback label="旧密码" name="oldPass">
      <a-input v-model:value="formState.oldPass" type="password" autocomplete="off" />
    </a-form-item>
    <a-form-item has-feedback label="新密码" name="pass">
      <a-input v-model:value="formState.pass" type="password" autocomplete="off" />
    </a-form-item>
    <a-form-item has-feedback label="再次输入新密码" name="checkPass">
      <a-input v-model:value="formState.checkPass" type="password" autocomplete="off" />
    </a-form-item>

    <a-form-item :wrapper-col="{ span: 14, offset: 4 }">
      <a-button type="primary" html-type="submit">
        确认修改并返回登录
      </a-button>
      <a-button style="margin-left: 10px" @click="resetForm">
        重置
      </a-button>
    </a-form-item>
  </a-form>
</template>

<style scoped>

</style>
