<script setup lang="ts">
import './selectMenu.css'
import { onMounted, ref } from 'vue'
import { UserOutlined } from '@ant-design/icons-vue'
import { fetchGetMenus } from '~/services/selectMenu'
const menuList = ref()
// 获取可用菜单
const getMenus = async () => {
  const params = {
    systemID: 2090,
    clientMenuType: 'PCWeb',
  }
  const res = await fetchGetMenus(params)
  if (res.ErrCode === 0)
    menuList.value = res.Data
}
// 标签页
const panes = ref<{ title: string; content: string; key: string; closable?: boolean }[]>([
  { title: 'Index', content: 'Content of Tab 3', key: 'index', closable: false },
])

const activeKey = ref(panes.value[0].key)

const newTabIndex = ref(0)

const add = () => {
  activeKey.value = `newTab${++newTabIndex.value}`
  panes.value.push({ title: 'New Tab', content: 'Content of new Tab', key: activeKey.value })
}

const remove = (targetKey: string) => {
  let lastIndex = 0
  panes.value.forEach((pane, i) => {
    if (pane.key === targetKey)
      lastIndex = i - 1
  })
  panes.value = panes.value.filter(pane => pane.key !== targetKey)
  if (panes.value.length && activeKey.value === targetKey) {
    if (lastIndex >= 0)
      activeKey.value = panes.value[lastIndex].key

    else
      activeKey.value = panes.value[0].key
  }
}

const onEdit = (targetKey: string | MouseEvent | KeyboardEvent | any, action: string) => {
  if (action === 'add')
    add()

  else
    remove(targetKey as string)
}
// 点击menuItem
const handleMenuItem = (item: any) => {
  activeKey.value = item.key
  panes.value.push({ title: item.item.title, content: 'Content of new Tab', key: item.key })
}
onMounted(() => {
  getMenus()
})
</script>

<template>
  <a-layout class="layout">
    <a-layout-header>
      <div class="logo">
        信息资源应用平台单点登录门户
      </div>
      <a-menu
        theme="light"
        mode="horizontal"
        :style="{ height: '64px', lineHeight: '64px' }"
        @click="handleMenuItem"
      >
        <div v-for="item in menuList" :key="item.key">
          <a-sub-menu v-if="item.children && item.children.length > 0" :key="item.MenuID">
            <template #title>
              {{ item.title }}
            </template>
            <!-- 二层 -->
            <div v-for="subItem in item.children" :key="subItem.key">
              <a-sub-menu
                v-if="subItem.children && subItem.children.length > 0"
                :key="subItem.MenuID"
                :title="subItem.title"
              >
                <template #title>
                  {{ subItem.title }}
                </template>
                <!-- 三层 -->
                <div v-for="thirdItem in subItem.children" :key="thirdItem.key">
                  <a-menu-item :key="thirdItem.MenuID" :title="thirdItem.title ">
                    {{ thirdItem.title }}
                  </a-menu-item>
                </div>
              </a-sub-menu>
              <a-menu-item v-else :key="subItem.key" :title="subItem.title">
                {{ subItem.title }}
              </a-menu-item>
            </div>
          </a-sub-menu>
          <a-menu-item v-else :key="item.key" :title="item.title">
            {{ item.title }}
          </a-menu-item>
        </div>
      </a-menu>
      <div class="avatar">
        <!-- <a-avatar size="large">
          <template #icon>
            <UserOutlined />
          </template>
        </a-avatar> -->
        <a-dropdown>
          <a-avatar size="large">
            <template #icon>
              <UserOutlined />
            </template>
          </a-avatar>
          <template #overlay>
            <a-menu
              theme="light"
              :style="{ height: '64px', lineHeight: '64px' }"
            >
              <a-menu-item key="changePWD">
                修改密码
              </a-menu-item>
              <a-menu-item key="logout">
                退出系统
              </a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </div>
    </a-layout-header>
    <a-layout-content style="padding: 20px 50px">
      <div :style="{ background: '#fff', padding: '24px', minHeight: '86vh' }">
        <a-tabs v-model:activeKey="activeKey" type="editable-card" :hide-add="true" @edit="onEdit">
          <a-tab-pane v-for="pane in panes" :key="pane.key" :tab="pane.title" :closable="pane.closable">
            {{ pane.content }}
          </a-tab-pane>
        </a-tabs>
      </div>
    </a-layout-content>
  </a-layout>
</template>

<route lang="yaml">
meta:
  layout: selectmenu
</route>
