.ant-layout-header{
    background: #fff;
  }
.logo {
    float: left;
    height: 31px;
    line-height: 31px;
    margin: 16px 24px 16px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600
  }
  .avatar{
    position: absolute;
    right: 50px;
    top: 0;
  }