.drag-verify {
  width: 100%;
}
.drag-verify .range {
  background-color: #ececee;
  position: relative;
  border-radius: 4px;
  transition: 1s all;
  user-select: none;
  color: #666;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}
.drag-verify .range.success {
  background-color: #7ac23c;
  color: #fff;
}
.drag-verify .range.success .text {
  position: relative;
  z-index: 1;
}
.drag-verify .range.success .block i {
  color: #7ac23c;
}
.drag-verify .range .block {
  display: block;
  position: absolute;
  left: calc(-100% + 40px);
  width: 100%;
  height: 100%;
  background: #7ac23c;
  border-radius: 4px;
  overflow: hidden;
}
.drag-verify .range .block i {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  font-size: 20px;
  color: #c8c9cc;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
