<script lang="ts" setup>
import { onMounted, ref } from 'vue'
import './slider.css'
import { notification } from 'ant-design-vue'
import { CheckCircleOutlined, DoubleRightOutlined } from '@ant-design/icons-vue'
import { fetchGetCommunity, fetchUserPWD } from '~/services/login'
const sliderData = defineProps({
  loginInfo: {
    type: Object,
    defalut: {},
  },
  // 成功图标
  successIcon: {
    type: String,
    default: 'iconfont icon-status-nor',
  },
  // 成功文字
  successText: {
    type: String,
    default: '验证成功',
  },
  // 开始的图标
  startIcon: {
    type: String,
    default: 'iconfont icon-login-slid',
  },
  // 开始的文字
  startText: {
    type: String,
    default: '拖动滑块到最右边',
  },
})
const emit = defineEmits(['update:value'])
const CommunityID = ref(0)
const UserCode = ref('')
const verifyResult = ref(false) // 验证结果
const isTouch = 'ontouchstart' in document.documentElement
const moveEvent = isTouch ? 'touchmove' : 'mousemove'
const upEvent = isTouch ? 'touchend' : 'mouseup'
// 处理社区号
const handleCommunityID = () => {
  const usercodeCommunityID = sliderData.loginInfo?.username.split('@')
  if (usercodeCommunityID && usercodeCommunityID.length > 1) {
    UserCode.value = usercodeCommunityID[0]
    CommunityID.value = Number(usercodeCommunityID[1])
  }
}
// 验证用户密码
const userPWD = async () => {
  const params = {
    CommunityID: CommunityID.value,
    UserCode: UserCode.value,
    PassWord: sliderData.loginInfo?.password,
  }
  const res = await fetchUserPWD(params)
  if (res.ErrCode === 0) {
    verifyResult.value = true
    emit('update:value', verifyResult.value)
    notification.info({
      message: '提示',
      description: res.ErrText,
    })
  }
  else {
    verifyResult.value = false
    notification.info({
      message: '提示',
      description: res.ErrText,
    })
  }
}
// 社区接口
const getCommunity = async () => {
  const res = await fetchGetCommunity(CommunityID.value)
  if (res.ErrCode === 0) {
    userPWD()
  }
  else {
    verifyResult.value = false
    notification.info({
      message: '提示',
      description: res.ErrText,
    })
  }
}

// 滑块触摸开始
const onStart = (ev: MouseEvent | TouchEvent) => {
  let disX = 0 // 滑块移动距离
  const iconWidth = 40 // 滑动图标宽度
  const ele = document.querySelector('.drag-verify .block') as HTMLElement
  const startX = (ev as MouseEvent).clientX || (ev as TouchEvent).touches[0].pageX
  const parentWidth = ele.offsetWidth
  const MaxX = parentWidth - iconWidth
  if (verifyResult.value)
    return false

  // 滑块触摸移动
  const onMove = (e: MouseEvent | TouchEvent) => {
    const endX = (e as MouseEvent).clientX || (e as TouchEvent).touches[0].pageX
    disX = endX - startX
    if (disX <= 0)
      disX = 0

    if (disX >= MaxX - iconWidth)
      disX = MaxX

    ele.style.transition = '.1s all'
    ele.style.transform = `translateX(${disX}px)`
  }
  watch(sliderData, () => {
    verifyResult.value = false
    emit('update:value', verifyResult.value)
    ele.style.transition = '.5s all'
    ele.style.transform = 'translateX(0)'
  })
  // 滑块触摸结束
  const onEnd = () => {
    if (disX === MaxX) {
      handleCommunityID()
      getCommunity()
      setTimeout(() => {
        if (!verifyResult.value) {
          ele.style.transition = '.5s all'
          ele.style.transform = 'translateX(0)'
        }
      }, 500)
    }
    else {
      ele.style.transition = '.5s all'
      ele.style.transform = 'translateX(0)'
      emit('update:value', verifyResult.value)
    }

    document.removeEventListener(moveEvent, onMove)
    document.removeEventListener(upEvent, onEnd)
  }

  document.addEventListener(moveEvent, onMove)
  document.addEventListener(upEvent, onEnd)
}
onMounted(() => {
})
</script>

<template>
  <div class="drag-verify">
    <div class="range" :class="verifyResult ? 'success' : ''">
      <div class="block" @mousedown="onStart" @touchstart="onStart">
        <i v-if="verifyResult"><CheckCircleOutlined /></i>
        <i v-else><DoubleRightOutlined /></i>
      </div>
      <span class="text">{{ verifyResult ? successText : startText }}</span>
    </div>
  </div>
</template>
