<script setup lang="ts">
import './selectSystem.css'
import { onMounted, ref } from 'vue'
import { useCookies } from '@vueuse/integrations/useCookies'
import { useRouter } from 'vue-router'
import { notification } from 'ant-design-vue'
import { UserOutlined } from '@ant-design/icons-vue'
import ForgetPwd from '../../components/forgetPWD/ForgetPwd.vue'
import { fetchGetRolesData, fetchGetSystems, fetchLogout, fetchSelectRole } from '~/services/selectSystem'
const roleList = ref()
const systemList = ref()
const role = ref(0)
const router = useRouter()
const visible = ref<boolean>(false)
// 获取可用系统
const getSystems = async () => {
  const res = await fetchGetSystems()
  systemList.value = res.Data
}
// 选择角色
const selectRole = async (params: object) => {
  const res = await fetchSelectRole(params)
  if (res.ErrCode === 0)
    getSystems()
}
// 获取角色清单
const getRoles = async (communityID: number, userCode: string) => {
  const res = await fetchGetRolesData(communityID, userCode)
  if (res.ErrCode === 0) {
    roleList.value = res.Data
    const cookieRole = useCookies(['roleLeaf']).get('roleLeaf')
    role.value = cookieRole || roleList.value[0].Leaf
    selectRole({ roleLeaf: role.value })
  }
}
// 退出
const logout = async () => {
  const res = await fetchLogout()
  if (res.ErrCode === 0) {
    notification.info({
      message: '提示',
      description: res.ErrText,
    })
    router.push({
      path: 'login',
    })
    useCookies(['access_token']).remove('access_token')
  }
}
const changePWD = () => {
  visible.value = true
}
const onClose = () => {
  visible.value = false
}
// 点击menuItem
const handleClick = (key: any) => {
  switch (key.key) {
    case 'logout':
      logout()
      break
    case 'changePWD':
      changePWD()
      break
    default:
      break
  }
}
const focus = () => {
}

const handleChange = (value: number | string | any) => {
  selectRole({ roleLeaf: value })
  useCookies(['roleLeaf']).set('roleLeaf', value)
}
onMounted(() => {
  const communityID = useCookies(['communityID']).get('communityID')
  const userCode = useCookies(['userCode']).get('userCode')
  getRoles(communityID, userCode)
})
</script>

<template>
  <a-layout class="layout">
    <a-layout-header>
      <div class="logo">
        信息资源应用平台单点登录门户
      </div>
      <div class="headerRight">
        <a-select
          ref="select"
          v-model:value="role"
          style="width: 180px;margin-right:20px"
          @focus="focus"
          @change="handleChange"
        >
          <a-select-option v-for="item in roleList" :key="item.Leaf" :value="item.Leaf">
            {{ item.Name }}
          </a-select-option>
        </a-select>
        <a-dropdown>
          <a-avatar size="large">
            <template #icon>
              <UserOutlined />
            </template>
          </a-avatar>
          <template #overlay>
            <a-menu
              theme="light"
              :style="{ height: '64px', lineHeight: '64px' }"
              @click="handleClick"
            >
              <a-menu-item key="changePWD">
                修改密码
              </a-menu-item>
              <a-menu-item key="logout">
                退出系统
              </a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </div>
    </a-layout-header>
    <a-layout-content style="padding: 20px 50px">
      <div :style="{ background: '#fff', padding: '24px', minHeight: '86vh' }">
        <a-list
          :grid="{ gutter: 16, xs: 1, sm: 2, md: 4, lg: 4, xl: 6, xxl: 3, xxxl: 2 }"
          :data-source="systemList"
        >
          <template #renderItem="{ item }">
            <a-list-item>
              <a-card hoverable>
                <div class="extra">
                  {{ item.VersionNo }}
                </div>
                <div class="cardImg">
                  <img :src="item.ImagePath || ''" style="width:100%;height: 100%;">
                </div>
                {{ item.SystemName }}
              </a-card>
            </a-list-item>
          </template>
        </a-list>
        <a-drawer
          title="修改密码"
          :width="720"
          :visible="visible"
          :body-style="{ paddingBottom: '80px' }"
          :footer-style="{ textAlign: 'right' }"
          @close="onClose"
        >
          <ForgetPwd />
        </a-drawer>
      </div>
    </a-layout-content>
  </a-layout>
</template>

<style scoped>

</style>

<route lang="yaml">
meta:
  layout: selectsystem
</route>
