.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.ant-layout-header{
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.ant-menu-overflow{
  justify-content: flex-end;
}
.logo {
  float: left;
  height: 31px;
  line-height: 31px;
  margin: 16px 24px 16px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

[data-theme='dark'] .site-layout-content {
  background: #141414;
}
.ant-card-extra a{
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 30px;
  color: #65686b;
  padding: 3px 10px;
}
.extra{
  position: absolute;
  right: 16px;
  top: 14px;
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 30px;
  color: #65686b;
  padding: 3px 10px;
}
.extra a{
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 30px;
  color: #65686b;
  padding: 3px 10px;
}
.cardImg {
  margin: 22px auto;
  height: 118px;
  width: 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
